<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add-Edit Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <h2>Add/Edit Events</h2>
        <div class="col-md-5">
            <form th:action="@{/events/add}" th:method="POST">
                <input id="id" type="hidden" name="id"
                       th:value="(${event} != null ? ${event.getId()} : '')">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${event} != null ? ${event.getName()} : '')"
                           required
                           placeholder="Event Name">
                </div>
                <div class="form-group">
                    <label for="price">Description</label>
                    <input type="text"
                           class="form-control"
                           id="price"
                           name="description"
                           th:value="(${event} != null ? ${event.getDescription()} : '')"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="quantity">Popularity Score</label>
                    <input type="text"
                           class="form-control"
                           id="quantity"
                           name="popularityScore"
                           th:value="(${event} != null ? ${event.getPopularityScore()} : '')"
                           placeholder="Popularity Score">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select name="categoryID" class="form-control">
                        <option th:if="${event} != null"
                                th:selected="${event.getCategory() != null &&
                                event.getCategory().getId() == cat.getId()}"
                                th:each="cat : ${categories}"
                                th:value="${cat.getId()}"
                                th:text="${cat.getName()}">
                        </option>
                        <option th:if="${event} == null"
                                th:each="cat : ${categories}"
                                th:value="${cat.getId()}"
                                th:text="${cat.getName()}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <select name="locationID" class="form-control">
                        <option th:if="${event} != null"
                                th:each="location : ${locations}"
                                th:selected="${event.getLocation() != null &&
                                    event.getLocation().getId() == location.getId()}"
                                th:value="${location.getId()}"
                                th:text="${location.getName()}">
                        </option>
                        <option th:if="${event == null}"
                                th:each="location:${locations}"
                                th:value="${location.id}"
                                th:text="${location.getName()}">
                        </option>
                    </select>
                    <div class="form-group">
                        <label for="quantity">Tickets Count</label>
                        <input type="text"
                               class="form-control"
                               id="ticketCount"
                               name="ticketCount"
                               th:value="(${event} != null ? ${event.getTicketCount()} : '')"
                               placeholder="Tickets Count">
                    </div>
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/events">Back</a>
            </form>
        </div>
    </div>
</div>
</div>

</body>
</html>